@import "tailwindcss";

@theme {
  --font-sans: "Public Sans", sans-serif;
  --color-primary: #135bec;
  --radius-eight: 8px;
}

/* Base styles for dark mode */
@layer base {
  body {
    @apply bg-white text-gray-900 transition-colors duration-300;
  }
}

.dark body {
  @apply bg-gray-950 text-gray-100;
}

:root {
  font-family: var(--font-sans);
}